/* Attributes */

a[href] {
  background-color: red;
}

a[href] {
  font-size: 30px;
}

a[href^='http'] {
  background-color: green;
}
a[href$='html'] {
  background-color: gold;
}

span[class] {
  background-color: yellow;
}
